<head>
  <script src="/js/theme-init.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#5c8fd6" />
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <title>
    {{- .Site.Title -}}
    {{- with .Title }}{{ if ne . $.Site.Title }} | {{ . }}{{ end }}{{ end -}}
  </title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <link rel="preload" href="/fonts/inter/InterVariable.woff2" as="font" type="font/woff2" crossorigin />
  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}
</head>
